@import 'compass/reset',
'components/base',
'components/fonts',
'components/borrow_nav',
'components/btn',
'components/footer';
.main {
    background-color: #f7f7f7;
    font-size: 13px;
    line-height: 1.428571429;
    .container {
        background-color: $color-c5;
        padding: 30px;
        h1,
        h2 {
            margin-top: 18px;
            margin-bottom: 9px;
            line-height: 1.1;
            b {
                font-weight: bold;
            }
        }
        h1 {
            font-size: 33px;
            margin-bottom: 1em;
            border-bottom: 1px solid #dadada;
            padding-bottom: 8px;
        }
        h2 {
            font-size: 26px;
        }
        p {
            text-indent: 2em;
            margin: 0 0 9px;
        }
        ul,
        ol {
            padding-left: 20px;
            margin-top: 0;
            margin-bottom: 9px;
            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }
        }
        ol {
            list-style-type: decimal;
            ul {
                list-style-type: circle;
            }
        }
    }
}