$color-a1: #334960;
$color-a2: #2095d7;
$color-b1: #262b33;
$color-b2: #616971;
$color-b3: #9298a1;
$color-b4: #e1e5eb;
$color-c1: #d63d2d;
$color-c2: #e7b634;
$color-c3: #3ab96e;
$color-c4: #52b4ff;
$color-c5: #fff;
$color-background: #fafafa;
$small: 480px;
$middle: 750px;
$large: 1024px;
$x_large: 1200px;