@import 'components/variable',
'compass/css3/opacity',
'compass/css3/border-radius',
'compass/css3/box-shadow';
.toast {
    z-index: 10024;
    width: 70%;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0 auto;
    color: $color-c5;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: black;
    @include border-radius(5px);
    @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, .5));
    @media screen and (min-width: $small) {
        font-size: 16px;
        line-height: 22px;
    }
}